head{
	color:#000000;
}
button.home{
	font: italic 32px expanded;
	color:#ddddff;
	background-color:#000000;
	border:none;
}
button.tab{
	font: 16px expanded;
	background-color:#000000;
	color:#ddddff;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: ridge #6699ff
}
