head{
	color:#000000;
}
button.home{
	font: italic 34px expanded;
	color:#ddddff;
	background-color:#000000;
	border:none;
}
button.tab{
	font: 30px expanded;
	background-color:#000000;
	color:#ddddff;
	float:right;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: ridge 5px #6699ff
}
